* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 1600px;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

container {
    width: 1200px;
}



