.mobile-apps-section {
    &-flexbox {
        display: flex;
        gap: 0 71px;

        .mobile-apps-section-textbox {
            margin-left: 210px;

            .mobile-apps-section__title {
                font-family: 'Mulish';
                font-size: 36px;
                line-height: 48px;
                color: #000000;
                mix-blend-mode: normal;
                padding-top: 265px;
            }

            .mobile-apps-section-line {
                width: 56px;
                height: 2px;
                border: 1px solid black;
                background-color: #000000;
            }

            .mobile-apps-section__text {
                font-family: 'Muli';
                font-size: 18px;
                line-height: 28px;
                color: #7D7987;
                mix-blend-mode: normal;
            }

            .mobile-apps-section__btn {
                padding: 15px 65px;
                border: 1.4px solid #458FF6;
                border-radius: 55px;
                display: inline-block;
                margin-top: 20px;
                font-family: 'Muli';
                font-size: 18px;
                color: #458FF6;
                mix-blend-mode: normal;
            }

        }

        .mobile-apps-section__img {
            margin-top: 262px;
            margin-left: 71px;
        }
    }
}